In [22]:
import pandas as pd
import yfinance as yf
import datetime
import os

In [23]:
def fetch_data(ticker):      
    data = yf.download(ticker,start='2015-01-01', end='2022-01-01', progress=True)
    return data


def write_to_csv(df, filepath):
    print(filepath)
    if not os.path.exists(filepath):
        dirname = os.path.dirname(filepath)
        try:
            os.makedirs(dirname)
        except:
            pass
    df.to_csv(filepath)
        
fang = ['AMZN','AAPL','NFLX','MSFT']
for ticker in fang:
    current_date_str = str(datetime.date.today().month)+str(datetime.date.today().day)+str(datetime.date.today().year)
    filepath = "../data/%s/%s/%s_stock_data.csv"%(ticker.replace(".US",""), current_date_str, ticker.replace(".US","").lower())
    stock_data = fetch_data(ticker)  
    write_to_csv(stock_data, filepath)

[*********************100%***********************]  1 of 1 completed
../data/AMZN/11112022/amzn_stock_data.csv
[*********************100%***********************]  1 of 1 completed
../data/AAPL/11112022/aapl_stock_data.csv
[*********************100%***********************]  1 of 1 completed
../data/NFLX/11112022/nflx_stock_data.csv
[*********************100%***********************]  1 of 1 completed
../data/MSFT/11112022/msft_stock_data.csv

In [20]:
stock_data

            Adj Close                                         Close  \
                 AAPL       AMZN        MSFT        NFLX       AAPL
Date
2015-01-02  24.603201  15.426000   40.926441   49.848572  27.332500
2015-01-05  23.910097  15.109500   40.550091   47.311428  26.562500
2015-01-06  23.912344  14.764500   39.954922   46.501431  26.565001
2015-01-07  24.247646  14.921000   40.462555   46.742859  26.937500
2015-01-08  25.179306  15.023000   41.652897   47.779999  27.972500
...               ...        ...         ...         ...        ...
2019-12-24  69.623238  89.460503  153.433258  333.200012  71.067497
2019-12-26  71.004570  93.438499  154.690918  332.630005  72.477501
2019-12-27  70.977615  93.489998  154.973648  329.089996  72.449997
2019-12-30  71.398895  92.344498  153.638000  323.309998  72.879997
2019-12-31  71.920563  92.391998  153.745224  323.570007  73.412498

                                                    High             ...  \
                 AMZN        MSFT        NFLX       AAPL       AMZN  ...
Date                                                                 ...
2015-01-02  15.426000   46.759998   49.848572  27.860001  15.737500  ...
2015-01-05  15.109500   46.330002   47.311428  27.162500  15.419000  ...
2015-01-06  14.764500   45.650002   46.501431  26.857500  15.150000  ...
2015-01-07  14.921000   46.230000   46.742859  27.049999  15.064000  ...
2015-01-08  15.023000   47.590000   47.779999  28.037500  15.157000  ...
...               ...         ...         ...        ...        ...  ...
2019-12-24  89.460503  157.380005  333.200012  71.222504  89.778503  ...
2019-12-26  93.438499  158.669998  332.630005  72.495003  93.523003  ...
2019-12-27  93.489998  158.960007  329.089996  73.492500  95.070000  ...
2019-12-30  92.344498  157.589996  323.309998  73.172501  94.199997  ...
2019-12-31  92.391998  157.699997  323.570007  73.419998  92.663002  ...

                   Low                   Open                         \
                  MSFT        NFLX       AAPL       AMZN        MSFT
Date
2015-01-02   46.540001   48.731430  27.847500  15.629000   46.660000
2015-01-05   46.250000   47.147144  27.072500  15.350500   46.369999
2015-01-06   45.540001   45.661430  26.635000  15.112000   46.380001
2015-01-07   45.490002   46.271427  26.799999  14.875000   45.980000
2015-01-08   46.720001   46.478573  27.307501  15.016000   46.750000
...                ...         ...        ...        ...         ...
2019-12-24  157.119995  331.600006  71.172501  89.690498  157.479996
2019-12-26  157.399994  332.010010  71.205002  90.050499  157.559998
2019-12-27  158.220001  326.010010  72.779999  94.146004  159.449997
2019-12-30  156.729996  322.859985  72.364998  93.699997  158.990005
2019-12-31  156.449997  321.089996  72.482498  92.099998  156.770004

                           Volume
                  NFLX       AAPL       AMZN      MSFT      NFLX
Date
2015-01-02   49.151428  212818400   55664000  27913900  13475000
2015-01-05   49.258572  257142000   55484000  39673900  18165000
2015-01-06   47.347141  263188400   70380000  36447900  16037700
2015-01-07   47.347141  160423600   52806000  29114100   9849700
2015-01-08   47.119999  237458000   61768000  29645200   9601900
...                ...        ...        ...       ...       ...
2019-12-24  334.010010   48478800   17626000   8989200   2019300
2019-12-26  334.600006   93121200  120108000  14520600   3589900
2019-12-27  332.959991  146266000  123732000  18412800   5036100
2019-12-30  329.079987  144114400   73494000  16348400   4311500
2019-12-31  322.000000  100805600   50130000  18369400   3713300

[1258 rows x 24 columns]